code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace !important;
}

.messages-box ul > li:nth-child(odd) {
    background-color: #1d1d1d;
}
.messages-box ul > li:nth-child(even) {
    background-color: #1d1d1d;
}

div.body a {
    color: #1d74f5 !important;
}

.messages-container .footer {
    background-color: #222;
}

.messages-container {
    background-color: #1d1d1d;
}

.new-day::before {
    color: #eee;
	background-color: #1d1d1d !important;
}

.message.new-day::after {
    border-color: #444;
}

.flex-tab-bar, .tab-button {
    background-color: #333;
    color: #eee;
}

.rc-header__wrap {
	background-color: #333;
}

.color-primary-font-color {
    color: #eee;
}

.flex-nav {
	background-color: #222;
}

.contextual-bar-wrap {
	background-color: #222;
}

.rc-user-info-details {
	background-color: #222;
}

.rc-user-info-details__info {
	color: #eee;
}

.role-tag {
	color: #000 !important;
}

.sidebar {
	background-color: #222;
}

.footer {
	background-color: #222;
}

.rc-header__data {
	color: #eee;
}

.rc-message-box__textarea {
	color: #eee;
}

.rc-message-box__typing__user {
	color: #eee;
}

.code-colors {
	background-color: #eee;
}

.room-leader {
	background-color: #333;
    border-color: #333;
}

.sidebar-item--active {
	background-color: #333;
}

.sidebar-item:hover {
	background-color: #2a2a2a;
}

.rc-icon {
	color: #eee;
}

.rc-message-box__container {
    border-color: #333;
}

.chat-now {
    color: #aaa !important;
    border-color: #333 !important;
}

.rc-input__element {
    border-color: #333 !important;
}

.rc-modal-wrapper {
	background-color: rgba(22,22,22,.8);
}

.rc-modal {
	background-color: #222;
}

.rc-modal__footer {
	background-color: #333;
}

.rc-button {
	color: #eee;
}

.rc-select {
	border-color: #333;
}

.rc-member-list__counter {
	color: #eee;
}

.rc-tags {
	border-color: #333 !important;
}

.attachments__name {
	color: #eee;
}

.background-attention-color {
	background-color: #fff;
}

.background-primary-action-color {
	background-color: #0ff;
}

.color-primary-font-color::after {
	background-color: #1d1d1d !important;
}

.message:hover {
	background-color: #222 !important;
}

.editing {
	background-color: #333 !important;
}

.message.editing {
	background-color: #333 !important;
}

.sidebar-item__user-status--offline {
	background-color: #000;
}

#popup {
	background-color: #333;
}

.secondary-background-color {
	background-color: #444;
}

.content-background-color {
	background-color: #1d1d1d;
}

.sidebar-item__popup-active {
	background-color: #222;
}

.emoji-picker {
	background-color: #222;
}

.rc-input__element-small-placeholder {
	background-color: #222;
}

.create-channel__title, .rc-switch__text {
	color: #eee;
}

.rc-table-td {
	color: #eee;
}

.rc-table-tr:hover {
	background-color: #222 !important;
}

.rc-input__element {
	color: #888;
}

.rc-input {
	color: #888;
}

.rooms-list__toolbar-search {
	background-color: #222;
}

.rc-input__element {
	background-color: #222 !important;
}

